.DS_Store
.RData
.Rhistory
.Rproj.user/
.idea/
data/
geo_project_r.log
geo_project_r.tex
outputs/
geo_project_r.html
geo_project_r_cache/
geo_project_r_files/
boundaries/england-roads-shape/
picture_edits.pptx
industrial.osm

